<div class="bg-white">
  <div class="row">
    <div class="col">
      <p>Boletería</p>
    </div>
    <div class="col">
      <p>$ {{ totalBoletas | formatNumber }}</p>

    </div>
  </div>
  <div class="row bg-light">
    <div class="col">
      <p>Transporte</p>

    </div>
    <div class="col">
      <p>$ {{ totalTransporte | formatNumber }}</p>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Viáticos</p>

    </div>
    <div class="col">
      <p>$ {{ totalViaticos | formatNumber }}</p>

    </div>
  </div>
  <div class="row  bg-light">
    <div class="col">
      <p>Otros</p>

    </div>
    <div class="col">
      <p>$ {{ totalOtros | formatNumber }}</p>

    </div>
  </div>

  <div class="row acua py-1">
    <div class="col">
      <p><span _ngcontent-ng-c1896322626="" class="material-symbols-outlined">savings</span></p>
    </div>
    <div class="col">
      <p>$ {{ totalBoletas+totalTransporte+totalViaticos+totalOtros | formatNumber }}</p>
    </div>
  </div>

</div>
