<div class="container-fluid d-none d-sm-block">
  <div class="row">
      <div class="col p-0 d-none d-sm-block">
        <picture class="section--container_picture">
          <source srcset="/assets/img/homeLeft.png 1x, /assets/img/homeLeft.png 2x">
          <img alt="Fotografia del mar" src="/assets/img/homeLeft.png" loading="lazy">
        </picture>
      </div>
      <div class="col formHome--container">
          <img src="assets/img/comillas.svg" aria-label="hidden" class="comillas" alt="Icono de comillas">
          <h3>Bienvenido, inicia sesión o regístrate.</h3>
          <div class="btn-group">
            <a class="btn--eventti" routerLink="/login">Iniciar Sesión</a>
            <a  class="btn--eventti_outline" routerLink="/login/register">Registrarse</a>
          </div>
          <a routerLink="/nosotros">Qué es Eventti</a>
          <p class="text-center lema">Comienza a planear y organizar tu presupuesto para las cosas que te apasionan en la vida.</p>
      </div>
      <div class="col p-0 d-none d-md-block">
        <picture class="section--container_picture">
          <source srcset="/assets/img/homeRight.png 1x, /assets/img/homeRight.png 2x">
          <img alt="Fotografia de las montañas" src="/assets/img/homeRight.png" loading="lazy">
        </picture>
      </div>
  </div>
</div>
<div class="mobile--container d-block d-sm-none ">
  <section class="section--container">
    <picture class="section--container_picture">
      <source srcset="/assets/img/homeLeft.png 1x,
      /assets/img/homeLeft.png 2x">
      <img alt="Fotografia del mar" src="/assets/img/homeLeft.png" loading="lazy">
    </picture>
  <div class="Eventti_overlay__home"><h1>Comienza a planear y organizar tu presupuesto para las cosas que te apasionan en la vida</h1>
    <a class="btn--eventti"routerLink="/login">Iniciar Sesión</a>
    <div class="link text-center">
      <a routerLink="/login/register">Registrarme</a>
    </div>
  </div>
  </section>
</div>
