
p{
  margin-bottom: 0 !important;
}


.btn--eventti {
  position: relative;
  margin: 0 auto;
  border: 2px solid $acua;
  display: inline-block;
  padding: 1rem 2.5rem;
  text-align: center;
  font-weight: 600;
  color: #fff;
  background: $acua;
  cursor: pointer;
}
.btn--eventti:hover {
  border: 2px solid $acuaDark;
  color: #fff;
  background: $acuaDark;
}
.btn--eventti_outline {
  position: relative;
  margin: 0 auto;
  border: 2px solid grey;
  display: inline-block;
  padding: 1rem 2.5rem;
  text-align: center;
  font-weight: 600;
  color: $grey;
  background: white;
  cursor: pointer;
}
.btn--eventti_outline:hover {
  border: 2px solid $acuaDark;
  color: $acuaDark;
}
.link a{
  color: black;
}
.comillas{
  width: 4em;
}

.top{
  height: 3vh;
}

.footer--app{
  min-height: 50px;
}
.btn-group, .btn-group-vertical {
  column-gap: 1em;
}

.mobile--container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section--container{
  width: 100%;
  height: 133.33vw;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  overflow: hidden;
  color: #fff;
  transition: all 1s cubic-bezier(0,1.085,.4,1);
  .Eventti_overlay__home {
    width: 100%;
    height: 133.33vw;
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  .Eventti_overlay__home h1 {
    display: flex;
    height: 60%;
    align-items: center;
    padding: 1rem;
  }

  .Eventti_overlay__home .link {
    margin-top: 2.5rem;
  }
}

.section--container_picture{
  cursor: default;
  display: flex;
  height: 100%;
  flex: 1 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.formHome--container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 3em 2em;
}
.formHome--container .lema{
  padding: 0 4em;
}

.label--eventti{
  display: block;
  color: $grey;
}
.input--eventti{
  width: 100%;
  border-radius: 5px;
  border: solid 1px #f1f1f1;
  margin-bottom: 1em;
  height: 40px;
  color: $grey;
  background: white;
  align-items: center;
  padding-left: 1em;
  padding-top: 10px;
}
.user--data{
  box-shadow: 0 0 4px #c5c5c5;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    border:solid 2px white;
    transform: translateY(25px);
  }
  .body_user{
    background-color: white;
    padding:2em;
  }
  p{
    font-size: 0.8rem;
    margin-top: 1em;
  }
  span{
    color: $grey;
    font-size: 0.8rem;
  }
}

.card-event {

  .day {
    font-size: 4em;
  }

  .date {
    font-size: 2em;
  }

  .hour {
    font-size: 2em;
  }
  .location {
    font-size: 1.5em;
  }
  .actions {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 1em;
    margin-bottom: 1em;
    span{
      cursor:pointer;
    }
  }

  .card-body--event {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
  }
  .item{
    display: flex;
    align-items: center;
    margin-top: 1em;
  }
  .money{
    font-size:1.5em;
  }

}
.concierto{
  color:$concierto;
}
.conciertoopacityback{
  background-color:$concierto;
}
.tag .concierto{
  background-color: $concierto!important;
}
.deporte{
  color:$deporte;
}
.deporteopacityback{
  background-color:$deporte;
}
.tag .deporte{
  background-color: $deporte !important;
}
.fiesta{
  color:$fiesta;
}
.fiestaopacityback{
  background-color:$fiesta;
}
.tag .fiesta{
  background-color: $fiesta !important;
}

.viaje{
  color:$viaje;
}
.viajeopacityback{
  background-color:$viaje;
}
.tag .Viaje{
  background-color: $viaje !important;
}
.social{
  color:$social;
}
.socialopacityback{
  background-color:$social;
}
.tag .Social{
  background-color: $social !important;
}
.tag .clasificacion{
  color: white !important;
  padding: 9px;
  border-radius: 16px;
  text-transform: capitalize;
}
.fiestaback{
  background-image: url("/assets/img/fiesta.png");
  background-size: cover;
}
.deporteback{
  background-image: url("/assets/img/deporte.png");
  background-size: cover;
}
.viajeback{
  background-image: url("/assets/img/viaje.png");
  background-size: cover;
}
.socialback{
  background-image: url("/assets/img/fiesta.png");
  background-size: cover;
}
.conciertoback{
  background-image: url("/assets/img/concierto.png");
  background-size: cover;

}
.actions{
  button{
    background: none;
    border:none;
  }
}
.imagen-tipo{
height:300px;
  display: flex;
  flex-direction: column-reverse;
  align-content: flex-start;
  justify-content: flex-start;

}
.card-title-event{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 1em 0;
}

.card-body--event--header{
  margin-top: 2em;
display: flex;
align-items: center;
flex-direction: row;
flex-wrap: nowrap;
align-content: center;
justify-content: space-between;

}

.logout{
  color: white;
  float: right;
  cursor:pointer;
}

.logout:hover{
  color: $acua;
}

.user--spend {
  box-shadow: 0 0 4px #c5c5c5;
  padding: 1em 1em 0 1em;

}

.acua{
  background-color: $acua;
  color: white;
}

.avatar-grid {
  display: flex;
  gap: 20px;
}

.avatar-option {
  cursor: pointer;
  border: 2px solid #ececec;
  padding: 5px;
  border-radius: 5em;
  margin: 1em 0em;
}

.avatar-option img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.avatar-option.selected {
  border-color: #12b8b8;
}