// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
// Color system
$acua: #0d7a7a;
$acuaDark:#0d9595;
$grey: #545454;
$social:#340882;
$deporte:#0d7a7a;
$fiesta: #b90457;
$concierto:#125EB8;
$viaje:#A49E00;
