p {
  margin-bottom: 0 !important;
}

.btn--eventti {
  position: relative;
  margin: 0 auto;
  border: 2px solid #0d7a7a;
  display: inline-block;
  padding: 1rem 2.5rem;
  text-align: center;
  font-weight: 600;
  color: #fff;
  background: #0d7a7a;
  cursor: pointer;
}

.btn--eventti:hover {
  border: 2px solid #0d9595;
  color: #fff;
  background: #0d9595;
}

.btn--eventti_outline {
  position: relative;
  margin: 0 auto;
  border: 2px solid grey;
  display: inline-block;
  padding: 1rem 2.5rem;
  text-align: center;
  font-weight: 600;
  color: #545454;
  background: white;
  cursor: pointer;
}

.btn--eventti_outline:hover {
  border: 2px solid #0d9595;
  color: #0d9595;
}

.link a {
  color: black;
}

.comillas {
  width: 4em;
}

.top {
  height: 3vh;
}

.footer--app {
  min-height: 50px;
}

.btn-group, .btn-group-vertical {
  column-gap: 1em;
}

.mobile--container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section--container {
  width: 100%;
  height: 133.33vw;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  overflow: hidden;
  color: #fff;
  transition: all 1s cubic-bezier(0, 1.085, 0.4, 1);
}
.section--container .Eventti_overlay__home {
  width: 100%;
  height: 133.33vw;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.section--container .Eventti_overlay__home h1 {
  display: flex;
  height: 60%;
  align-items: center;
  padding: 1rem;
}
.section--container .Eventti_overlay__home .link {
  margin-top: 2.5rem;
}

.section--container_picture {
  cursor: default;
  display: flex;
  height: 100%;
  flex: 1 1;
}
.section--container_picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.formHome--container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 3em 2em;
}

.formHome--container .lema {
  padding: 0 4em;
}

.label--eventti {
  display: block;
  color: #545454;
}

.input--eventti {
  width: 100%;
  border-radius: 5px;
  border: solid 1px #f1f1f1;
  margin-bottom: 1em;
  height: 40px;
  color: #545454;
  background: white;
  align-items: center;
  padding-left: 1em;
  padding-top: 10px;
}

.user--data {
  box-shadow: 0 0 4px #c5c5c5;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user--data img {
  border: solid 2px white;
  transform: translateY(25px);
}
.user--data .body_user {
  background-color: white;
  padding: 2em;
}
.user--data p {
  font-size: 0.8rem;
  margin-top: 1em;
}
.user--data span {
  color: #545454;
  font-size: 0.8rem;
}

.card-event .day {
  font-size: 4em;
}
.card-event .date {
  font-size: 2em;
}
.card-event .hour {
  font-size: 2em;
}
.card-event .location {
  font-size: 1.5em;
}
.card-event .actions {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 1em;
  margin-bottom: 1em;
}
.card-event .actions span {
  cursor: pointer;
}
.card-event .card-body--event {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
}
.card-event .item {
  display: flex;
  align-items: center;
  margin-top: 1em;
}
.card-event .money {
  font-size: 1.5em;
}

.concierto {
  color: #125EB8;
}

.conciertoopacityback {
  background-color: #125EB8;
}

.tag .concierto {
  background-color: #125EB8 !important;
}

.deporte {
  color: #0d7a7a;
}

.deporteopacityback {
  background-color: #0d7a7a;
}

.tag .deporte {
  background-color: #0d7a7a !important;
}

.fiesta {
  color: #b90457;
}

.fiestaopacityback {
  background-color: #b90457;
}

.tag .fiesta {
  background-color: #b90457 !important;
}

.viaje {
  color: #A49E00;
}

.viajeopacityback {
  background-color: #A49E00;
}

.tag .Viaje {
  background-color: #A49E00 !important;
}

.social {
  color: #340882;
}

.socialopacityback {
  background-color: #340882;
}

.tag .Social {
  background-color: #340882 !important;
}

.tag .clasificacion {
  color: white !important;
  padding: 9px;
  border-radius: 16px;
  text-transform: capitalize;
}

.fiestaback {
  background-image: url("/assets/img/fiesta.png");
  background-size: cover;
}

.deporteback {
  background-image: url("/assets/img/deporte.png");
  background-size: cover;
}

.viajeback {
  background-image: url("/assets/img/viaje.png");
  background-size: cover;
}

.socialback {
  background-image: url("/assets/img/fiesta.png");
  background-size: cover;
}

.conciertoback {
  background-image: url("/assets/img/concierto.png");
  background-size: cover;
}

.actions button {
  background: none;
  border: none;
}

.imagen-tipo {
  height: 300px;
  display: flex;
  flex-direction: column-reverse;
  align-content: flex-start;
  justify-content: flex-start;
}

.card-title-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 1em 0;
}

.card-body--event--header {
  margin-top: 2em;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

.logout {
  color: white;
  float: right;
  cursor: pointer;
}

.logout:hover {
  color: #0d7a7a;
}

.user--spend {
  box-shadow: 0 0 4px #c5c5c5;
  padding: 1em 1em 0 1em;
}

.acua {
  background-color: #0d7a7a;
  color: white;
}

.avatar-grid {
  display: flex;
  gap: 20px;
}

.avatar-option {
  cursor: pointer;
  border: 2px solid #ececec;
  padding: 5px;
  border-radius: 5em;
  margin: 1em 0em;
}

.avatar-option img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.avatar-option.selected {
  border-color: #12b8b8;
}

/*# sourceMappingURL=style.css.map */
