<div class="container-fluid d-none d-sm-block">
    <div class="row">
        <div class="col p-0 d-none d-sm-block">
            <picture class="section--container_picture">
                <source srcset="/assets/img/homeLeft.png 1x, /assets/img/homeLeft.png 2x">
                <img alt="Fotografia del mar" src="/assets/img/homeLeft.png" loading="lazy">
            </picture>
        </div>
        <div class="col formHome--container">
            <img src="assets/img/comillas.svg" aria-label="hidden" class="comillas" alt="comillas">
            <h3>Bienvenido a Eventti</h3>
            <p class="p-3">
            El objetivo principal de esta aplicación es proporcionar una herramienta útil para la
            planificación y control de los costos relacionados con la participación en eventos.
            la aplicación.
            </p>
            <p class="p-3">
            La interfaz de usuario ha sido diseñada para ser intuitiva y fácil de usar, asegurando que incluso los
            usuarios con menos experiencia tecnológica puedan aprovechar todas las funcionalidades de
            la aplicación.
            </p>
            <p class="p-4">
                La aplicación consiste en un calendario que permite a los usuarios crear y gestionar eventos a
                los que asistirán. Los usuarios pueden añadir eventos a su calendario personal, especificando
                detalles como la fecha, hora y ubicación del evento
            </p>
            <h2 class="text-center">Máster Universitario en Diseño y Desarrollo de Interfaz de
                Usuario Web (Front-end Design & Development)</h2>
            <h3>Trabajo de fin de master desarrollado por Carolina Herrera Díaz </h3>

            <div class="btn-group">
                <a  class="btn--eventti_outline" routerLink="/">Volver</a>
            </div>
        </div>
        <div class="col p-0 d-none d-md-block">
            <picture class="section--container_picture">
                <source srcset="/assets/img/homeRight.png 1x, /assets/img/homeRight.png 2x">
                <img alt="Fotografia de las montañas" src="/assets/img/homeRight.png" loading="lazy">
            </picture>
        </div>
    </div>
</div>
<div class="mobile--container d-block d-sm-none ">
    <section class="section--container">

    </section>
</div>
