<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mt-5">
                <div class="bg-white text-center" *ngIf="vacio==0">
                    <div class="col formHome--container">
                        <img  src="assets/img/comillas.svg" aria-label="hidden" alt="Icono de comillas" class="comillas mt-4">
                        <h3 class="mt-4">Bienvenido, crea tu primer evento.</h3>
                        <div class="btn-group mt-4"><a class="btn--eventti_outline" routerLink="/home/create">Agregar Evento</a>
                        </div>
                       </div>
                </div>
                <div class="card-event mb-4 " *ngFor="let events of event">
                    <div class="row">
                        <div class="col-md-5 imagen-tipo p-0" [ngClass]="events.field_type+'back'">
                            <div class="card-title-event" [ngClass]="events.field_type+'opacityback'">
                                <span class="material-symbols-outlined">event</span>
                                <h4> {{ events.title }}</h4>
                            </div>
                        </div>
                        <div class="col-md-7 bg-white card-body--event">
                            <div class="card-body--event--header">
                                <div class="container--date">
                                    <span class="day">{{ formatDate(events.field_inicio, 'dd') }}</span><span
                                        class="date"> {{ formatDate(events.field_inicio, 'MMMM yyyy') }}</span>
                                </div>
                                <div class="tag">
                                    <span class="clasificacion"
                                          [ngClass]="events.field_type"> {{ events.field_type }}</span>
                                </div>
                            </div>

                            <p class="item hour" [ngClass]="events.field_type"><span class="material-symbols-outlined"
                                                                                     [ngClass]="events.field_type">schedule</span>     {{ formatDate(events.field_inicio, 'HH:mm') }}
                            </p>
                            <p class="item location" [ngClass]="events.field_type"><span
                                    class="material-symbols-outlined"
                                    [ngClass]="events.field_type">location_on</span> {{ events.field_description }}</p>
                            <p class="item money" [ngClass]="events.field_type"><span class="material-symbols-outlined">savings</span>
                                <span>{{ calculateTotalSpend(events) | formatNumber }}</span>
                            </p>
                            <div class="actions" [ngClass]="events.field_type">
                                <button [ngClass]="events.field_type" (click)="viewEvent(events)"><span
                                        class="material-symbols-outlined" aria-disabled="true">visibility</span>
                                </button>
                                <button [ngClass]="events.field_type" (click)="deleteEvent(events.uuid)"><span
                                        class="material-symbols-outlined" aria-disabled="true">delete</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <app-user-data></app-user-data>
            </div>
        </div>
    </div>
</div>
