<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-9 mt-5">
        <form (ngSubmit)="newEvent()">
          <div class="row">
            <div class="col-md-6">
              <div>
                <label for="title" class="label--eventti">*Título</label>
                <input type="text" id="title"  [(ngModel)]="eventData.title"   name="title" ngModel required class="input--eventti">
              </div>
              <div>
                <label for="field_date_start" class="label--eventti">Fecha y hora de Inicio</label>
                <input type="datetime-local"  id="field_date_start" [(ngModel)]="eventData.field_inicio" name="field_date_start" ngModel required class="input--eventti">
              </div>
              <div>
                <label for="field_date_end" class="label--eventti">Fecha y hora de Finalización</label>
                <input type="datetime-local"  id="field_date_end" [(ngModel)]="eventData.field_fin" name="field_date_end" ngModel required class="input--eventti">
              </div>
              <div>
                <label for="field_description" class="label--eventti">Ubicación</label>
                <input type="text" id="field_description" [(ngModel)]="eventData.field_description" name="field_description" ngModel required class="input--eventti">
              </div>
              <div>
                <label for="field_links" class="label--eventti">Enlace  a evento</label>
                <input type="url" id="field_links" [(ngModel)]="eventData.field_estado" name="field_links" ngModel required class="input--eventti">
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <label for="field_spend1" class="label--eventti">Valor de Boletas</label>
                <input type="number" id="field_spend1" [(ngModel)]="eventData.field_spend1"  name="field_spend1" ngModel required class="input--eventti">
              </div>
              <div>
                <label for="field_spend2" class="label--eventti">Valor de Transporte</label>
                <input type="number" id="field_spend2" [(ngModel)]="eventData.field_spend2" name="field_spend2" ngModel required class="input--eventti">
              </div>
              <div>
                <label for="field_spend3" class="label--eventti">Valor de Viaticos</label>
                <input type="number" id="field_spend3" [(ngModel)]="eventData.field_spend3" name="field_spend3" ngModel required class="input--eventti">
              </div>
              <div>
                <label for="field_spend4" class="label--eventti">Otros costos adicionales</label>
                <input type="number" id="field_spend4" [(ngModel)]="eventData.field_spend4" name="field_spend4" ngModel required class="input--eventti">
              </div>
              <div>
                <label for="field_type" class="label--eventti">Tipo de evento</label>
                <select id="field_type" name="field_type" [(ngModel)]="eventData.field_type" ngModel required class="input--eventti">
                  <option value="deporte">Deporte</option>
                  <option value="concierto">Concierto</option>
                  <option value="social">Social</option>
                  <option value="fiesta">Fiesta</option>
                  <option value="viaje">Viaje</option>
                </select>
              </div>
            </div>
          </div>
          <p class="mb-4">Los campos marcados con * son obligatorios</p>
          <div class="btn-group">
            <button type="submit" class="btn--eventti">Crear Evento</button>
            <a class="btn--eventti_outline" routerLink="/home">Volver</a>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <app-user-data></app-user-data>
      </div>
    </div>
  </div>
</div>
