<div class="container-fluid">
  <div class="row">
    <div class="col p-0 d-none d-sm-block">
      <picture class="section--container_picture">
        <source srcset="/assets/img/homeLeft.png 1x, /assets/img/homeLeft.png 2x">
        <img alt="Fotografia de montañas" src="/assets/img/homeLeft.png" loading="lazy">
      </picture>
    </div>
    <div class="col formHome--container">
      <img src="assets/img/comillas.svg" aria-label="hidden" class="comillas" alt="comillas">
      <h3>Bienvenido, inicia sesión.</h3>
      <form (ngSubmit)="validateUser()" >
        <div>
          <label for="name" class="label--eventti">*Nombre de usuario:</label>
          <input type="text" id="name" name="name" ngModel required class="input--eventti">
        </div>
        <div>
          <label for="password" class="label--eventti">*Contraseña:</label>
          <input type="password" id="password" name="password" ngModel required  class="input--eventti">
        </div>
        <p class="mb-4">Los campos marcados con * son obligatorios</p>
        <div class="btn-group">
        <button type="submit" class="btn--eventti">Iniciar sesión</button>
        <a  class="btn--eventti_outline" routerLink="/">Volver</a>
        </div>
      </form>

    </div>
    <div class="col p-0 d-none d-md-block">
      <picture class="section--container_picture">
        <source srcset="/assets/img/homeRight.png 1x,
      /assets/img/homeRight.png 2x">
        <img alt="Fotografia de mar" src="/assets/img/homeRight.png" loading="lazy">
      </picture>
    </div>
  </div>
</div>

