<div class="bg-light footer--app d-flex justify-content-center align-items-center align-content-center">
  <div class="container ">
  <div class="row">
    <div class="col text-center">
      <p> © Eventti 2024</p>
    </div>
  </div>
  </div>
</div>
