<h2 mat-dialog-title>Registro Exitoso</h2>
<div mat-dialog-content>
    <p>El usuario se ha creado con éxito.</p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>OK</button>
</div>