<section class="user--data mt-5">
    <app-logout></app-logout>
  <img src="{{url}}" alt="" width="100px" height="100px">
  <div class="body_user">
    <h5 class="text-capitalize">{{name}}</h5>
    <p>{{ fraseAleatoria}}
    </p>
    <div class="text-center py-3">
      <a  class="btn--eventti"  routerLink="/home/create">Agregar evento</a>
    </div>

  </div>
</section>
<section class="user--spend mt-5 bg-white">
<app-spend></app-spend>
</section>
