<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-9 mt-5">
          <div class="row">
            <div class="col-md-6">
              <div>
                <label class="label--eventti">Título</label>
                <p class="input--eventti">{{event.title}}</p>
              </div>
              <div>
                <label class="label--eventti">Fecha y hora de inicio</label>
                <p class="input--eventti">{{ formatDate(event.field_inicio, 'dd MMMM yyyy') }}</p>
                  <p class="input--eventti">{{ formatDate(event.field_inicio, 'HH:mm') }}</p>
              </div>
              <div>
                <label class="label--eventti">Fecha y hora de finalización</label>
                  <p class="input--eventti">{{ formatDate(event.field_fin, 'dd  MMMM yyyy') }}</p>
                  <p class="input--eventti">{{ formatDate(event.field_fin, 'HH:mm') }}</p>
              </div>
              <div>
                <label class="label--eventti">Ubicación</label>
                <p class="input--eventti">{{event.field_description}}</p>

              </div>

            </div>
            <div class="col-md-6">
              <div>
                <label  class="label--eventti">Boletería</label>
                <p class="input--eventti">{{event.field_spend1}}</p>

              </div>
              <div>
                <label class="label--eventti">Transporte</label>
                <p class="input--eventti">{{event.field_spend2}}</p>

              </div>
              <div>
                <label class="label--eventti">Viaticos</label>
                <p class="input--eventti">{{event.field_spend3}}</p>

              </div>
              <div>
                <label class="label--eventti">Otros</label>
                <p class="input--eventti">{{event.field_spend4}}</p>

              </div>
              <div>
                <label class="label--eventti">Tipo</label>
                <p class="input--eventti">{{event.field_type}}</p>

              </div>
                <div>
                    <a class="btn btn-link mt-3" target="_blank" href="{{event.field_enlace}}">Enlace al evento</a>
                </div>
            </div>
          </div>
          <div class="btn-group mt-3">
            <button type="submit" class="btn--eventti" (click)="editEvent()">Editar Evento</button>
            <a class="btn--eventti_outline" routerLink="/home">Volver</a>
          </div>
      </div>
      <div class="col-md-3">
        <app-user-data></app-user-data>
      </div>
    </div>
  </div>
</div>
